.Content{
    background-color: rgb(9, 1, 44);
    min-width: 99vw;
    max-width: 100vw;
    min-height: 116vh;
    max-height: 120vh;
    padding: 3vh;
}
#title h1{
    color: white;
    font-weight: bolder;
    font-style:italic;
    text-align: justify;
}
.bloco{
    width: 80%;
    margin: auto;   
}

.accordion-button{
    background-image: linear-gradient(to right, #ff1493 , #ff1493, blueviolet , blueviolet); 
    border-radius: 30px;
}

.accordion-button:not(.collapsed){
    background-color: #ff1493;
}

.accordion1{
    color: white;
    font-weight: normal;
    margin-bottom: 10px;
    background-color: blueviolet;
    border-radius: 30px;
}

.accordion22{
    color: white;
    font-weight: bolder;
}
