.sections{
  min-height:185vh;
  max-height: 200vh;
}
/* HorizontalTimeline */
.timeline-container{
  margin: auto;
  width: 50vw;
  height: 20vh;
  margin-top: 1vh;
}

.card{
  margin: auto;
  width: 30vw;
  max-height: auto;
  border: solid 1px;
  margin-top: 3vw;
  background-image: linear-gradient(to top, #ff1493, #ff1493, blueviolet);
  color: #40e0d0;
}

.card-text2{
  text-align: justify;
}

.dot-label{
  color: #40e0d0;
  font-weight: bold;
  font-size: 12px;
}